
.cards-container{
   display: flex;
    width:450px;
    height:500px;
  background-color: rgb(142, 177, 142);
    position:fixed;
    right:50px;
    top:10px;
   
}

.icon{
    width:20px;height:20px;
    float:right;
}

.card-details{
    border:1px solid gray;
    padding:5px;
    margin:0px 10px;
}

.card-title{
    font-size:15px;
    padding:0px 5px;
    margin-bottom: 0px;
}